@import "../../../styles/variables";

.Button {
  border: 2px solid $secondary;
  border-radius: 3rem;
  color: $text-color;
  text-align: center;
  height: 3rem;
  min-width: 10rem;
  outline: inherit;
  padding: 0.75rem 1.5rem;
  transition: background .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    border-color: $text-color;
  }
}
