@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.PhotoDetail {
  padding: 4rem;

  @include mobile-media-query {
    padding: 0.5rem;
  }

  &__btn-container {
    @include flex-center();

    padding: 2rem 0;
  }

  &__container {
    @include flex-center();

    flex-direction: column;
  }

  &__image {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  &__details {
    @include flex-center();

    table {
      border-collapse: collapse;
      border: 1px solid #ddd;
      margin-bottom: 20px;
      padding: 0;
      width: 75%;
      table-layout: fixed;

      th,
      td {
        padding: 10px;
        text-align: left;
        border: 1px solid $primary-dark;
        word-break: break-all;
      }

      th {
        background-color: $primary-dark;
        border: 1px solid $secondary;
      }

      tr:nth-child(even) {
        background-color: $primary-dark;
      }

      tr:hover {
        background-color: $orange;
        transition: 0.3s all ease-in-out;
      }
    }

    @include mobile-media-query {
      padding: 2rem 0;
      max-width: 100%;
      overflow-y: auto;
    }
  ;
  }
}
