@import "./variables";

@mixin box-shadow($shadow: 2px 10px 19px -10px $orange) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin mobile-media-query {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
