@import "./../../../styles/mixins.scss";
@import "./../../../styles/variables.scss";

.PhotoCard {
  width: 300px;
  border: 1px solid $secondary;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  background-color: $primary-dark;

  &:hover {
    @include box-shadow();
    border: 1px solid $orange;
    cursor: pointer;
  }

  &__title {
    margin-top: 0.5rem;
    color: $text-color;
  }

  &__image {
    @include flex-center();

    margin: 0 auto;
    height: 150px;
    width: 150px;
  }
}
